<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="warning" defaultHref="home" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="help-circle-outline"></ion-icon>
      À propos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    
    <ion-card-header>

      <ion-card-title>
        <ion-icon name="analytics-outline"></ion-icon> IMC (adulte)
      </ion-card-title>

      <br/>

      <ion-card-subtitle>
        IMC = Poids / Taille²
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>

      <ion-grid>

        <ion-row>

          <ion-col>IMC</ion-col>
          <ion-col>Interprétation</ion-col>

        </ion-row>

        <ion-row *ngFor="let ligne of tableauIMC;">

          <ion-col>
            <ion-badge color="{{ligne.imcCouleur}}">
              {{ligne.imc}}
            </ion-badge>
          </ion-col>

          <ion-col>
            <ion-text color="{{ligne.imcCouleur}}">
              {{ligne.interpretation}}
            </ion-text>
          </ion-col>

        </ion-row>

      </ion-grid>
      
    </ion-card-content>

  </ion-card>

</ion-content>

<!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="warning" href="https://www.imc.fr/calcul">
    <ion-icon name="globe-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
